<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>frame_sys_notice.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{514,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{514,114}}</string>
                <key>sourceSize</key>
                <string>{514,114}</string>
            </dict>
            <key>frame_system.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,0},{376,348}}</string>
                <key>offset</key>
                <string>{8,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,108},{376,348}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>frame_topmenu.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,348},{800,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,70}}</string>
                <key>sourceSize</key>
                <string>{800,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>frameatlas2.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b57a07ba9b9f75be6d9357ef82a2c769$</string>
            <key>textureFileName</key>
            <string>frameatlas2.png</string>
        </dict>
    </dict>
</plist>
