<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>frame_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,768},{800,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,600}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>frame_dialog.png</key>
            <dict>
                <key>frame</key>
                <string>{{1005,0},{604,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{604,116}}</string>
                <key>sourceSize</key>
                <string>{604,116}</string>
            </dict>
            <key>frame_dictionary.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1368},{800,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,600}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>frame_history.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,1368},{800,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,600}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>frame_load.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,768},{800,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,600}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>frame_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{155,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,38}}</string>
                <key>sourceSize</key>
                <string>{155,38}</string>
            </dict>
            <key>frame_narrative.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,168},{719,522}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{719,522}}</string>
                <key>sourceSize</key>
                <string>{719,522}</string>
            </dict>
            <key>frame_notice.png</key>
            <dict>
                <key>frame</key>
                <string>{{1609,0},{384,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,168}}</string>
                <key>sourceSize</key>
                <string>{384,168}</string>
            </dict>
            <key>frame_rmenu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1600,1368},{352,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,600}}</string>
                <key>sourceSize</key>
                <string>{352,600}</string>
            </dict>
            <key>frame_rmenu_explain.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,0},{246,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,43}}</string>
                <key>sourceSize</key>
                <string>{246,43}</string>
            </dict>
            <key>frame_save.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,168},{800,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,600}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>frame_sele_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,0},{302,43}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{302,43}}</string>
                <key>sourceSize</key>
                <string>{302,45}</string>
            </dict>
            <key>frame_sele_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,0},{302,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,45}}</string>
                <key>sourceSize</key>
                <string>{302,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>frameatlas1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:070585b2193ab60a6f07b9cb210da1f6$</string>
            <key>textureFileName</key>
            <string>frameatlas1.png</string>
        </dict>
    </dict>
</plist>
