<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Break_book.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,0},{23,19}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{23,19}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>after_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,0},{16,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{16,32}}</string>
                <key>sourceSize</key>
                <string>{24,58}</string>
            </dict>
            <key>after_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,0},{24,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,58}}</string>
                <key>sourceSize</key>
                <string>{24,58}</string>
            </dict>
            <key>back_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,0},{43,25}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,4},{43,25}}</string>
                <key>sourceSize</key>
                <string>{75,33}</string>
            </dict>
            <key>back_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,259},{75,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,33}}</string>
                <key>sourceSize</key>
                <string>{75,33}</string>
            </dict>
            <key>before_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,0},{18,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,12},{18,32}}</string>
                <key>sourceSize</key>
                <string>{24,58}</string>
            </dict>
            <key>before_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,0},{24,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,58}}</string>
                <key>sourceSize</key>
                <string>{24,58}</string>
            </dict>
            <key>blackrim.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,417},{800,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,600}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>cancel_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,0},{32,16}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,4},{32,16}}</string>
                <key>sourceSize</key>
                <string>{86,22}</string>
            </dict>
            <key>cancel_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,259},{86,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,22}}</string>
                <key>sourceSize</key>
                <string>{86,22}</string>
            </dict>
            <key>confirm_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,0},{32,16}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,4},{32,16}}</string>
                <key>sourceSize</key>
                <string>{86,22}</string>
            </dict>
            <key>confirm_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,259},{86,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,22}}</string>
                <key>sourceSize</key>
                <string>{86,22}</string>
            </dict>
            <key>dictionary_concept_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,0},{58,133}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{58,133}}</string>
                <key>sourceSize</key>
                <string>{60,135}</string>
            </dict>
            <key>dictionary_concept_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,0},{58,133}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{58,133}}</string>
                <key>sourceSize</key>
                <string>{60,135}</string>
            </dict>
            <key>dictionary_concept_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,0},{58,129}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{58,129}}</string>
                <key>sourceSize</key>
                <string>{60,135}</string>
            </dict>
            <key>dictionary_person_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,0},{58,133}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{58,133}}</string>
                <key>sourceSize</key>
                <string>{60,135}</string>
            </dict>
            <key>dictionary_person_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1145,0},{58,133}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{58,133}}</string>
                <key>sourceSize</key>
                <string>{60,135}</string>
            </dict>
            <key>dictionary_person_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1029,0},{58,129}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{58,129}}</string>
                <key>sourceSize</key>
                <string>{60,135}</string>
            </dict>
            <key>dictionary_proverb_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,0},{58,133}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{58,133}}</string>
                <key>sourceSize</key>
                <string>{60,135}</string>
            </dict>
            <key>dictionary_proverb_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1087,0},{58,133}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{58,133}}</string>
                <key>sourceSize</key>
                <string>{60,135}</string>
            </dict>
            <key>dictionary_proverb_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1203,0},{58,129}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{58,129}}</string>
                <key>sourceSize</key>
                <string>{60,135}</string>
            </dict>
            <key>dictionary_quotation_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1377,0},{58,133}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{58,133}}</string>
                <key>sourceSize</key>
                <string>{60,135}</string>
            </dict>
            <key>dictionary_quotation_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1319,0},{58,133}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{58,133}}</string>
                <key>sourceSize</key>
                <string>{60,135}</string>
            </dict>
            <key>dictionary_quotation_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1261,0},{58,129}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{58,129}}</string>
                <key>sourceSize</key>
                <string>{60,135}</string>
            </dict>
            <key>empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>full_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1553,0},{60,16}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,6},{60,16}}</string>
                <key>sourceSize</key>
                <string>{100,30}</string>
            </dict>
            <key>full_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1214,259},{100,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,30}}</string>
                <key>sourceSize</key>
                <string>{100,30}</string>
            </dict>
            <key>last_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,0},{43,27}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,5},{43,27}}</string>
                <key>sourceSize</key>
                <string>{75,33}</string>
            </dict>
            <key>last_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1961,0},{75,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,33}}</string>
                <key>sourceSize</key>
                <string>{75,33}</string>
            </dict>
            <key>logo.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{0,1017},{800,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,600}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>mainarea.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{800,500}</string>
            </dict>
            <key>next_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,0},{51,25}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,5},{51,25}}</string>
                <key>sourceSize</key>
                <string>{75,33}</string>
            </dict>
            <key>next_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,259},{75,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,33}}</string>
                <key>sourceSize</key>
                <string>{75,33}</string>
            </dict>
            <key>op_continue1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1626,259},{122,24}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,6},{122,24}}</string>
                <key>sourceSize</key>
                <string>{160,40}</string>
            </dict>
            <key>op_continue2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1875,259},{128,30}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,3},{128,30}}</string>
                <key>sourceSize</key>
                <string>{160,40}</string>
            </dict>
            <key>op_exit1.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,0},{54,24}}</string>
                <key>offset</key>
                <string>{-39,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,6},{54,24}}</string>
                <key>sourceSize</key>
                <string>{160,40}</string>
            </dict>
            <key>op_exit2.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,0},{58,30}}</string>
                <key>offset</key>
                <string>{-39,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,3},{58,30}}</string>
                <key>sourceSize</key>
                <string>{160,40}</string>
            </dict>
            <key>op_extra1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1815,0},{72,24}}</string>
                <key>offset</key>
                <string>{-30,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,6},{72,24}}</string>
                <key>sourceSize</key>
                <string>{160,40}</string>
            </dict>
            <key>op_extra2.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,259},{78,30}}</string>
                <key>offset</key>
                <string>{-30,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{78,30}}</string>
                <key>sourceSize</key>
                <string>{160,40}</string>
            </dict>
            <key>op_option1.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,259},{90,34}}</string>
                <key>offset</key>
                <string>{-21,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,6},{90,34}}</string>
                <key>sourceSize</key>
                <string>{160,40}</string>
            </dict>
            <key>op_option2.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,259},{94,36}}</string>
                <key>offset</key>
                <string>{-21,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{94,36}}</string>
                <key>sourceSize</key>
                <string>{160,40}</string>
            </dict>
            <key>op_start1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1887,0},{74,24}}</string>
                <key>offset</key>
                <string>{-31,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{74,24}}</string>
                <key>sourceSize</key>
                <string>{160,40}</string>
            </dict>
            <key>op_start2.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,259},{78,30}}</string>
                <key>offset</key>
                <string>{-31,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{78,30}}</string>
                <key>sourceSize</key>
                <string>{160,40}</string>
            </dict>
            <key>point.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,0},{20,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,26}}</string>
                <key>sourceSize</key>
                <string>{20,28}</string>
            </dict>
            <key>rain_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,0},{19,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{19,259}}</string>
                <key>sourceSize</key>
                <string>{23,259}</string>
            </dict>
            <key>rain_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,0},{13,204}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,204}}</string>
                <key>sourceSize</key>
                <string>{23,206}</string>
            </dict>
            <key>rain_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,0},{22,207}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,207}}</string>
                <key>sourceSize</key>
                <string>{24,207}</string>
            </dict>
            <key>rain_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{3,102}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,20},{3,102}}</string>
                <key>sourceSize</key>
                <string>{9,122}</string>
            </dict>
            <key>rmenu_exit_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,259},{86,27}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,6},{86,27}}</string>
                <key>sourceSize</key>
                <string>{140,35}</string>
            </dict>
            <key>rmenu_exit_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,317},{136,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{136,35}}</string>
                <key>sourceSize</key>
                <string>{140,35}</string>
            </dict>
            <key>rmenu_history_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,259},{92,27}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,7},{92,27}}</string>
                <key>sourceSize</key>
                <string>{140,35}</string>
            </dict>
            <key>rmenu_history_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,317},{136,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{136,35}}</string>
                <key>sourceSize</key>
                <string>{140,35}</string>
            </dict>
            <key>rmenu_load_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,0},{58,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,8},{58,19}}</string>
                <key>sourceSize</key>
                <string>{140,35}</string>
            </dict>
            <key>rmenu_load_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,317},{136,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{136,35}}</string>
                <key>sourceSize</key>
                <string>{140,35}</string>
            </dict>
            <key>rmenu_save_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1747,0},{68,19}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,7},{68,19}}</string>
                <key>sourceSize</key>
                <string>{140,35}</string>
            </dict>
            <key>rmenu_save_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,317},{136,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{136,35}}</string>
                <key>sourceSize</key>
                <string>{140,35}</string>
            </dict>
            <key>rmenu_system_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1613,0},{66,27}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,7},{66,27}}</string>
                <key>sourceSize</key>
                <string>{140,35}</string>
            </dict>
            <key>rmenu_system_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,317},{136,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{136,35}}</string>
                <key>sourceSize</key>
                <string>{140,35}</string>
            </dict>
            <key>rmenu_title_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,0},{52,21}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,6},{52,21}}</string>
                <key>sourceSize</key>
                <string>{140,35}</string>
            </dict>
            <key>rmenu_title_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,317},{136,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{136,35}}</string>
                <key>sourceSize</key>
                <string>{140,35}</string>
            </dict>
            <key>save_position_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,417},{441,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{441,100}}</string>
                <key>sourceSize</key>
                <string>{441,100}</string>
            </dict>
            <key>save_position_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,317},{441,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{441,100}}</string>
                <key>sourceSize</key>
                <string>{441,100}</string>
            </dict>
            <key>savearea_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{441,100}</string>
            </dict>
            <key>savearea_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1257,317},{441,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{441,100}}</string>
                <key>sourceSize</key>
                <string>{441,100}</string>
            </dict>
            <key>slide.png</key>
            <dict>
                <key>frame</key>
                <string>{{1748,259},{127,2}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{127,2}}</string>
                <key>sourceSize</key>
                <string>{127,28}</string>
            </dict>
            <key>snow_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,0},{6,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,6}}</string>
                <key>sourceSize</key>
                <string>{6,6}</string>
            </dict>
            <key>snow_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{9,0},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>snow_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{17,0},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>snow_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,0},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>snow_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,0},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>toparea.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{800,80}</string>
            </dict>
            <key>topmenu_auto_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1116,259},{98,18}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{98,18}}</string>
                <key>sourceSize</key>
                <string>{120,64}</string>
            </dict>
            <key>topmenu_auto_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1518,259},{108,56}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{108,56}}</string>
                <key>sourceSize</key>
                <string>{120,64}</string>
            </dict>
            <key>topmenu_clear_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,0},{36,16}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,9},{36,16}}</string>
                <key>sourceSize</key>
                <string>{120,64}</string>
            </dict>
            <key>topmenu_clear_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1679,0},{68,54}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,2},{68,54}}</string>
                <key>sourceSize</key>
                <string>{120,64}</string>
            </dict>
            <key>topmenu_dictionary_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,259},{86,16}}</string>
                <key>offset</key>
                <string>{2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,9},{86,16}}</string>
                <key>sourceSize</key>
                <string>{120,64}</string>
            </dict>
            <key>topmenu_dictionary_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,259},{96,54}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,2},{96,54}}</string>
                <key>sourceSize</key>
                <string>{120,64}</string>
            </dict>
            <key>topmenu_skip_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,259},{94,26}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,5},{94,26}}</string>
                <key>sourceSize</key>
                <string>{120,64}</string>
            </dict>
            <key>topmenu_skip_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1414,259},{104,58}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{104,58}}</string>
                <key>sourceSize</key>
                <string>{120,64}</string>
            </dict>
            <key>topmenu_theme_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,0},{48,18}}</string>
                <key>offset</key>
                <string>{1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,7},{48,18}}</string>
                <key>sourceSize</key>
                <string>{120,64}</string>
            </dict>
            <key>topmenu_theme_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1435,0},{58,54}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,2},{58,54}}</string>
                <key>sourceSize</key>
                <string>{120,64}</string>
            </dict>
            <key>void.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1241,417},{800,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,600}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>window_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1493,0},{60,16}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,6},{60,16}}</string>
                <key>sourceSize</key>
                <string>{100,30}</string>
            </dict>
            <key>window_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,259},{100,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,30}}</string>
                <key>sourceSize</key>
                <string>{100,30}</string>
            </dict>
            <key>悬停菜单.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,1017},{800,98}}</string>
                <key>offset</key>
                <string>{0,251}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,98}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guiatlas.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:67ca87becac91c9bb6682f5c843258aa$</string>
            <key>textureFileName</key>
            <string>guiatlas.png</string>
        </dict>
    </dict>
</plist>
